body{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

/* HEADER STYLES */
#header{
	position: relative;
	padding: 20px 0;
}
#header h1{
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0;
	font-weight: 600;
	font-size: 42px;
	line-height: 0.8;
	margin-left: 10px;
}
#header h1 span{
	font-weight: 200;
}
.contact-info{
	position: absolute;
	display: inline-block;
	right: 40px;
	top: 0;
	height: 30px;
	z-index: 9999
}
.contact-info p{
	margin: 10px 0 0 0;
	font-size: 18px;
	color: #999;
	text-align: right;
}
.contact-info p a{
	color: #999;
	margin-left: 15px;
}

/* NAV STYLES */
#nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	border-radius: 5px
}
#nav ul li{
	display: inline-block;
	font-size: 18px;
	height: 40px;
	width: 20%;
	background-color: #888;
}
.nav-first, .nav-first a{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.nav-last, .nav-last a{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#nav ul li a{
	display: inline-block;
	color: #fff;
	height: 40px;
	width: 100%;
	text-align: center;
	padding-top: 7px;
}
#nav ul li a:hover{
	background-color: #41a946; /* main green color */
	-webkit-transition: background-color 0.15s ease;
	-moz-transition: background-color 0.15s ease;
	-ms-transition: background-color 0.15s ease;
	-o-transition: background-color 0.15s ease;
	transition: background-color 0.15s ease;
	text-decoration: none;
}
/* FOOTER STYLES */
#footer {
	background-color: #41a946; /* main green color */
	color: #fff;
	position: relative;
	padding-top: 25px;
	padding-bottom: 25px;
}
#footer ul{
	list-style-type: none;
	padding: 0;
}
#footer ul li{
	margin: 10px 0;
}
#footer a{
	color: #fff;
}
#footer ul li a:hover{
	text-decoration: none;
}
#footer .contact-info{
	position: absolute;
	right: 20px;
	top: 10px;
}
#footer .contact-info p{
	font-size: 18px;
	text-align: right;
    color: #fff;
}

/* HOME PAGE STYLES */
@media screen and (min-width: 768px) {
	.jumbotron h1, .jumbotron .h1 {
    	font-size: 50px;
	}
}

#home-1{
	background-color: #fff;
}
#home-1 .jumbotron{
	text-align: center;
	background-color: #fff;
}
#home-2{
	background-color: #41a946; /* main green color */
	margin-bottom: 1px;
}
#home-2, #home-3{
	padding-top: 20px;
	padding-bottom: 20px;
}
#home-3 .third-img{
	height: 150px;
	width: 150px;
	border-radius: 100px;
	background-color: #adadad;
	margin: 0 auto 15px auto;
	font-size: 80px;
	text-align: center;
	color: #fff;
	border: 5px solid #41a946; /* main green color */
}
#home-3 .third-img i{
	margin-top: 30px;
}
#home-3 h3{
	text-align: center;
}

.featured-property{
	background-color: #fff;
	margin: 15px;
	padding: 5px 15px;
	text-align: center;
	height: 394px;
    position: relative;
    border-radius: 5px;
}
.featured-property h2{
	margin: 5px;
	font-size: 22px;
	text-align: left;
    height: 70px;
}
.featured-property img{
	max-width: 100%;
	max-height: 200px;
}
.featured-property p{
	text-align: left;
}
.featured-listing a{
    color: #333;
}
/* ABOUT US PAGE */
#about-us-2{
	padding: 10px;
}
#about-us-2 i{
	font-size: 40px;
	margin: 10px 0;
	color: #41a946; /* main green color */
}
#about-us-2 p{
	text-align: center;
	margin: 15px 0;
    font-size: 22px;
    font-weight: 600;
}
.about-us-img{
	border: 5px solid #41a946; /* main green color */
	margin-top: 20px;
}

/* LANDLORDS PAGE STYLING */
#packages-1 .styled-list, #packages-2 .styled-list, #packages-3 .styled-list{
	font-size: 16px;
}

/*CONTACT US PAGE */
#contact-us-1 .contact{
	text-align: center;
}
.form-control{
	padding: 15px;
	box-shadow: none;
	border-radius: 5px;
}
.form-control:focus{
    border: 1px solid #41a946;
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: none;
    box-shadow: none
}

/* LISTING PAGE */
.property{
	border: 1px solid #ccc;
	position: relative;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
	margin-left: 0;
	margin-right: 0;
}
.property img{
	width: 100%;
}
.property-info p{
	font-size: 20px;
}
.pagination{
	display: block;
	width: 135px;
	margin: 20px auto;
}
.pagination > li > a{
	color: #41a946;
}
.pagination > .active > span{
	border-color: #41a946;
	background-color: #41a946;
}

/* INDIVIDUAL LISTING */
#listing-features{
	margin-top: 15px;
	background-color: #888;
	color: #fff;
	padding: 25px 0;
}
#listing-description{
	margin-bottom: 25px;
}
#rented{
	color: #ee0000;
	font-weight: bold;
}

/* reusable classes */
.text-emphasis{
	color: #41a946; /* main green color */
	font-weight: 600;
}
.text-emphasis:hover{
	color: #41a946; /* main green color */
}
.divider{
	border-top: 1px solid #e3e3e3;
	margin-top: 15px;
}
.styled-list{
	color: #41a946;
	text-align: left;
	margin: 0 auto;
	font-size: 18px;
	padding-left: 20px;
}
.styled-list span{
	color: #333;
}
.featured-list{
    position: absolute;
    bottom: 15px;
}
.bot-mar{
    margin-bottom: 20px;
}
.ps-current ul{
    padding: 0;
}
#success-flash{
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
}
#success-flash p{
    margin: 0;
    border: 2px solid #41a946; /* main green color */
    padding: 10px;
    border-radius: 5px;
}

@media only screen
and (max-width : 768px) {
    #header{
        margin-top: 40px;
    }
    #header h1{
        font-size: 30px;
    }
    .contact-info{
        right: 10px;
    }
    #nav ul li{
        font-size: 11px;
        float: left;
    }
    #footer, #footer .contact-info p{
        font-size: 12px;
    }
}
